{
  "extends": [
    "stylelint-config-recommended", "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": [
          "tailwind", "apply", "variants", "responsive", "screen"
        ]
      }
    ],
    "selector-class-pattern": "^[a-z][a-zA-Z0-9_-]+$",
    "selector-id-pattern": "^[a-z][a-zA-Z0-9_-]+$",
  }
}
