{
  "printWidth":         120,
  "singleQuote":        false,
  "jsxSingleQuote":     true,
  "semi":               false,
  "tabWidth":           4,
  "bracketSpacing":     true,
  "jsxBracketSameLine": false,
  "arrowParens":        "always",
  "trailingComma":      "all"
}
