/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
.nepali-datepicker *,
.nepali-datepicker ::before,
.nepali-datepicker ::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentcolor; /* 2 */
}

.nepali-datepicker ::before,
.nepali-datepicker ::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/
.nepali-datepicker {
  line-height: 1.5;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Add the correct font weight in Edge and Safari.
*/
.nepali-datepicker b,
.nepali-datepicker strong {
  font-weight: bolder;
}

/*
Add the correct font size in all browsers.
*/
.nepali-datepicker small {
  font-size: 80%;
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
.nepali-datepicker button,
.nepali-datepicker select {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */

  /*
  Remove the inheritance of text transform in Edge and Firefox.
  */
  text-transform: none;
}

.nepali-datepicker button {
  cursor: pointer;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
.nepali-datepicker button,
.nepali-datepicker [type='button'],
.nepali-datepicker [type='reset'],
.nepali-datepicker [type='submit'],
.nepali-datepicker select {
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
.nepali-datepicker :-moz-focusring {
  outline: auto;
}

/*
Removes the default spacing and border for appropriate elements.
*/
.nepali-datepicker p {
  margin: 0;
}

/*
Set the default cursor for buttons.
*/
.nepali-datepicker button,
.nepali-datepicker [role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
.nepali-datepicker :disabled {
  cursor: default;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
.nepali-datepicker [hidden] {
  display: none;
}
