$primary: #006d12;
$secondary: #fff;
$textColor: #1b1b25;

.nepali-date-picker {
    width: 280px;
    height: 240px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba($secondary, 0.5);
    background: $secondary none repeat scroll 0 0;
    border: 1px solid darken($secondary, 20%);
    box-sizing: border-box;
    display: block;
    padding: 15px;
    position: absolute;
    z-index: 9999;

    user-select: none;
    font-family: NotoSans, serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25em;
    letter-spacing: 0.2px;
    text-align: right;
    color: $textColor;

    .calendar-controller {
        display: flex;
        justify-content: space-between;

        .control {
            cursor: pointer;

            &.icon {
                width: 24px;
                height: 24px;
                object-fit: contain;
                color: $primary;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            &.month, &.year {
                line-height: 24px;
            }

            &.year {
                font-weight: bold;
            }
        }
    }
}
